h1 {
  font-family: 'Do Hyeon', sans-serif;
  font-size: 4em;
  line-height: 3em;
  letter-spacing: .05em;
  word-spacing: .05em;
  color: #9A674F;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
  margin: 0 auto;
  line-height: 1.25em;
  letter-spacing: .05em;
  padding-left: 4em;
  padding-right: 4em;
  padding-top: .5em;
  padding-bottom: .5em;
  color: #9A674F
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}
